body {
    font-family: "Poppins", sans-serif;
    background-image: url(images/stacked-waves-haikei.svg);
    color: #9290C3;
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin:0;
}

/* NAVBAR */

nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #1B1A55;
    height: 5.25rem;
}

.navbar-toggler{
    width:60px;
    display: grid;
    place-content: center;
}

.navbar-brand img{
    width:125px;
    height:125px;
}

.icons-container i{
    text-decoration: none;
    color:#9290C3;
}

.icons-container i:hover{
    color:#dddddd;
}

.nav-link{
    text-decoration: none;
    color: #EEEEEE;
}

.navbar-nav{
    gap:16px;
}

.nav-link:hover{
    color: #9290C3 !important;
}

.active{
    color:#9290C3 !important;
}


section footer {
    display: grid;
    place-content: center;
}


/* INDEX PAGE */


footer {
    margin-top: auto;
    bottom: 0;
    top: 85px;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
}

.content{
    height:675px;
    opacity: 100;
    transition:0.2s ease-in;
    flex-grow: 1;
    }

.info-thing p{
    color:#dddddd;
    text-align: justify;
    width:400px;
}

.img-container img{
    border-radius: 100% !important;
    width:350px;
    border:2px solid #dddddd;
}

.img-container{
    width:400px;
    gap:24px;
}

.content{
    gap:55px;
    line-height: 1.75rem;
}


/* CONTACT PAGE */

.contact-form{
    display:grid;
    place-content: center;
    margin-top:auto;
}

.mb-3{
    width:20rem;
}

.contact-form .btn{
    border:1px solid #dddddd !important;
    margin-top:0.5rem;
}

.mb-3 input::placeholder{
    color:#070F2B;
}

.mb-3 label{
    color:#9290C3;
}


/* PROJECTS PAGE */

.h2{
    display:flex;
    justify-content: center;
    gap:12px;
    margin-top:10rem;
    margin-bottom:2rem;
    color:#dddddd;
}

.h2 i{
position: relative;
top:5px;
}

.card{
    border:none;
}

.projects-container{
    
    display:flex;
    justify-content: center;
    gap:24px;
    align-items: center;
}

.projects-container .btn{
    width:10rem;
}

.projects-container .btn, .contact-form .btn{
    border:2px solid #070F2B;
    background-color:#1B1A55;
    color:#dddddd;
}

.btn:hover{
    background-color: #dddddd;
    color:#1B1A55;
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
    body{
        background-image: url(images/stacked-waves-haikei-mobile.svg);
    }

    .contact-form {
        display:flex;
        flex-direction: column;
        align-items: center;
    }

.projects-container{
    flex-direction: column;
    height:1400px;
}
.h2{
    gap:12px;
    margin-top:5rem;
}
        .navbar-brand img{
            width:90px !important;
            height:90px !important;
        }

        .img-container img{
            border-radius: 100% !important;
            width:250px;
            border:2px solid #dddddd;
        }

        .img-container{
            gap:40px;
        }
    .content p{
        font-size:13px;
        width:300px;
    }
    footer {
        font-size: 15px;
    }
    .content{
        line-height: 1.25rem;
        gap:40px;
    }
    .info-thing{
        width:300px;

        flex-direction: column;
        align-items: center;
    }

    .info-thing h1{
        text-align: left;
    }

    #contact {
        margin-top: 75px;
        height: 450px;
        width: 250px;
        padding-inline: 30px;
        position: static;
        left: 195px;
    }


    #contact i{
        left:-120px;
        top: 5px;
    }
    #contact h1 {
        text-align: center;
        transform: scale(0.9);
        font-size: 32px;
        color: #1B1A55;
    }

    #contact input,
    textarea,
    button,
    #btn {
        transform: scale(0.9);
        margin-block: 5px;
        width: 250px;
        font-size: 14px;
    }

    #contact input:focus {
        border: 3px solid #070F2B;
    }

    ::placeholder,
    button {
        font-size: 14px;
    }

    
}
